[submodule "integrationsdotsh"]
	path = integrationsdotsh
	url = https://github.com/RhysSullivan/integrationsdotsh.git
[submodule "vendor/emulate"]
	path = vendor/emulate
	url = https://github.com/UsefulSoftwareCo/emulate.git
